body {
    background-color:rgb(220, 173, 217);
    color: rgb(0, 118, 150);
}

header, nav, main, footer{
    text-align: center;
}

/* Handling User Links */
#user-links {
    /* DONT FORGET TO DELETE */
    /* border: 1px solid; */

    /* takes off the bullet points */
    list-style-type: none;

    /* moves list to the right */
    text-align: right;

    /* Changes font to truculenta*/
    font-family: 'Truculenta', sans-serif;
    margin-bottom: 50px;
}
.top-left-items {
    /* Puts logo and link name on the same line*/
    display: inline;

    /* Changes paragraph position */
    position: relative;
    left: 5px;
    bottom: 6px;

    color: white;
}
.user-links-li {
    /* Puts all links in one line */
    display: inline;

    /* Fix spacing */
    margin-right: 30px;
}

/* Remove underline of all anchor tags */
a {
    text-decoration: none;
}

/* 2. Handling our navigation bar */
nav a {
    color:rgb(119, 42, 244);
    font-size: 2.7em;
    padding: 20px;
}

/* Styling changes if you hover over nav tabs */
nav a:hover {
    color:rgb(246, 114, 171);
    font-size: 4em;
}
